body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(65, 124, 73);
  background-size: cover;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}
button {
  text-align: center;
  color: #016f32;
  justify-content: center;
  width: 150px;
  background-color: goldenrod;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  margin-bottom: 4px;
}
