h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}
button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  align-content: center;
  margin-left: 40%;
  margin-right: 40%;
}

#increment-btn {
  background-color: darkred;
}

#save-btn {
  background-color: darkmagenta;
}

#save-el {
  text-align: center;
}
#count-el {
  text-align: center;
}

h1 {
  text-align: center;
}
